.box {
  padding: 30px;
  margin:60px;
  background-color: floralwhite;
}
h3{
  font-style: oblique;
}
.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

#list div.hide{
  display: none;
}